<!DOCTYPE html>
<html>

<head>
</head>

<body>
    {{>header}}
    <form class="form">
        <input class="input" placeholder="Location">
        <button>Search</button>
    </form>
    <script src="../functions.js" type="text/javascript"></script>
</body>

</html>